﻿<div class="subir">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white bordeIz habilidad">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-End</h3>
            <p>Trsabajo desde el desarrolo, prueba automatica</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>APS.Net Core, Java, Phyton, PHP y SQL</p>
            <p class="text-primary cabecera">Experencia:</p>
            <ul>
                <li>APS.Net Core</li>
                <li>Java (JSE y JEE)</li>
                <li>MySQL, MariaDB y SQLServer </li>
                <li>PHP</li>
                <li>Phyton</li>
            </ul>
        </div>
        <div class="col col-3 bg-white bordeDr habilidad">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>Puedo crear front-ends robusto que cumple con la expectativa.</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>HTML, CSS, JS y ANGULAR</p>
            <p class="text-primary cabecera">Experencia:</p>
            <ul>
                <li>Clase e Id</li>
                <li>Componente de HTML</li>
                <li>Dinamica de Js</li>
                <li>Angular responsive</li>
            </ul>
        </div>
    </div>
</div>