﻿<div class="text-center">
    <h1 class="display-4">Soy Gustavo</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologia .NET, PHP, Java, Phyton y hacking etico</h2>
    <img class="foto" src="~/images/perfil.jpg"/>
</div>
<div class="text-center">
    <img class="imageJava" src="~/images/java.jpg"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h2>Te doy la bienvenida a mi portafolio</h2>
        <p>Soy un programador junio que recibi capacitacion de 4 meses en crear aplicaciones webs con el Framework Laravel y como detectar vulnerabilidad para que genere codigo seguro y aplicaciones que se puedan navegar de la manera segura.</p>
    </div>
</div>