﻿
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contecto conmigo</h1>
<p>Te contectare el mensaje lo más pronto posible.</p>
<p><a asp-action="Index" asp-controller="Home">Volver al inicio</a></p>