﻿@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Mis proyectos</h1>
    <p>Aquí encontraras todos los proyectos en lo que he trabajados</p>
</div>
<partial name="_ListadoProyectos" model="Model"/>