﻿@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notificacion" />

<h1>Index Categoty</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Listado de Categoria</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Crear una nueva categoria</a>
        </div>
    </div>
    <br /><br />


    <table class="table table-bordered table-striped" style="width=100%">
        <thead>
            <tr>
                <th>Nombre Categoria</th>
                <th>Ordenes</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="50%">@obj.Name</td>
                    <td width="30%">@obj.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Editar</a>
                            <a class="btn btn-danger ms-2" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
