﻿@model TipoCuenta
@{
    ViewData["Title"] = "Crear";
}
<h1>Crear cuenta tipos de cuentas</h1>
<h5>El tipos de cuentas se refiere a cómo podemos agrepar cuentas. 
    Ejemplo: Préstamos, tarjetas de crédito, etc.
</h5>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <button class="btn btn-primary">Enviar</button>
</form>