﻿.foto {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
}

.seccion-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

.seccion-bienvenida h2 {
    margin-bottom: 1rem;
}

.seccion-bienvenida p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25;
}

.img-java {
    width: 500px;
}

.subir {
    margin-top: -105px;
}

.bordeIz {
    border-radius: 15px 0 0 15px;
    box-shadow: 0 5px 5px 0 gray;
}

.bordeDr {
    border-radius: 0 15px 15px 0;
    box-shadow: 0 5px 5px 0 gray;
}

    .bordeDr ul {
        list-style: none;
        padding-left: 0;
    }

.bordeIz ul {
    list-style: none;
    padding-left: 0;
}

.habilidad i {
    color: #0d6efd;
    font-size: 50px;
}
